.intervenant{
  width:200px;
}
.planning-table td{
  position:relative;
  padding:2px 0;
}
.planning-table td a.rdv{
  position:absolute;
  z-index:9;
  display:block;
  width:100%;
  line-height:25px;
  background-color:#000;
  padding:2px 0;
  opacity:0.9;
  text-decoration:none;
}
.planning-table td a.rdv span{
  display:block;
  padding:0 4px;
  color:#ffffff;
  font-size:0.9em;
}